# Исключить виртуальное окружение
venv/
# Исключить временные и кэш-файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd
# Исключить файлы IDE
.idea/
.vscode/
# Исключить файлы данных и результатов
*.jpg
*.png
output_*
